* {
  font-family: Courier;
}

.container {
overflow: hidden;
  text-align: center;
  position: relative;
}

#startButton {
  margin: 0 auto;
}

#game {
  height: 512px;
  width: 512px;
  display: block;
  border: 1px solid black;
  margin: 0 auto;
}

#name {
  float: left;
  font-weight: bold;
  margin-top: 16px;
  width: 171px;
}

#hp, #age {
  float: left;
  font-weight: bold;
  margin-top: 16px;
  width: 171px;
}

#header {
  text-align: center;
}

#eventText {
  width: 496px;
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
}

#choiceOne, #choiceTwo, #choiceThree {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

#copyright, #copyright:hover {
  position: absolute;
  right: 16px;
  bottom: 16px;
  text-decoration:none;
}

#ageChart {
  position: absolute;
  top: 280px;
  left: -110px;
  width: 130px;
  height: 512px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#chartToggle {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#topTen {
  text-align: center;
  position: relative;
  float: right;
  margin-right: 20px;
  font-size: 10px;
  width: 75px;
  height: 512px;
  overflow: hidden;
}
